* {
  box-sizing: border-box;
}

  

  @keyframes drawHeroText {
    0% {
        stroke-dashoffset: 180;
    }


    100% {
        stroke-dashoffset: 0;
    }
  }
  

  @keyframes drawHeroTextFillOne {
    0% {
        fill:rgba(0, 146, 228,0);
    }


    100% {
        /* fill:rgba(0, 146, 228,1); */
        fill:rgba(255,255,255,1);
    }
  }



 .HeroTextAnimationOne {
    animation: drawHeroText 3s ease-in-out forwards, drawHeroTextFillOne 5s ease-in-out forwards;
 }

  /* icons */

  .rotating-icon {
    animation:rotation 30s linear infinite;
  }


  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


  /*loader*/

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  