.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
    color: white;
  }
  .pagination > .active > a{
    background-color: white ;
    border-color: white ;
    color: rgb(132,4,4);
  }

  .pagination > .active > a:hover{
    background-color: white ;
    border-color: white ;
    color: rgb(132,4,4);
  }
  
  .pagination > li > a{
    /* border: 1px solid white ; */
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: white ;
    border-color: white;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: white
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }